@import url("../styles/styles.css");

body {
  width: 350px;
  height: 500px;
  padding: 10px 20px;
  margin: 0;
  font-family: var(--font-family-second);
  font-size: 14px;
  color: var(--color-white-80);

  background: url("/assets/images/icon.png") center center / 300px 300px
      no-repeat,
    url("/assets/icons/bg-stars.svg") repeat,
    linear-gradient(
        to bottom right,
        var(--background-dark),
        var(--background-accent)
      )
      0 0 / auto no-repeat;

  background-color: var(--background-dark);
}

.container {
  padding: 15px 10px;
  height: 470px;
  border-radius: 20px;
  background: linear-gradient(
      var(--container-overlay-blue),
      var(--container-overlay-dark)
    )
    0 0 / auto no-repeat;
  box-shadow: var(--shadow-glow-light) 0px 4px 16px,
    var(--shadow-glow-light) 0px 8px 32px;
  backdrop-filter: blur(1px);
  text-align: center;
  position: relative;
}

/**NAVIGATION**/

.navigation {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
}

.navigation a {
  font-family: var(--font-family);
  font-size: 18px;
  position: relative;
  color: var(--dark-green-default);
  transition: color 0.3s ease;
}

.navigation a::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--lite-green-active);
  transition: width 0.3s ease;
}

.navigation a.active::after {
  width: 50%;
}

.navigation a:hover::after {
  width: 100%;
}

.navigation a:hover,
.navigation a.active {
  color: var(--lite-green-active);
}

/**CONTENT**/

.content {
  max-width: 250px;
  margin: 0 auto;
}

.stat-item {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  padding: 5px 0;
  border-bottom: 1px solid var(--color-white-80);
}

.stat-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.stat-label,
.stat-value {
  font-weight: 600;
}

/**WIN/LOST**/
.win-loss-section {
  text-align: center;
  padding-bottom: 5px;
}

.win-loss-section h4 {
  margin-bottom: 5px;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/*legend*/
.legend {
  text-align: left;
  font-size: 14px;
}

.legend div {
  margin-bottom: 10px;
}

.legend div:last-child {
  margin-bottom: 0;
}

.legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 3px;
}

.legend-color.win {
  background-color: var(--color-green-element);
}
.legend-color.loss {
  background-color: var(--color-red-element);
}

/*SVG Diagramma*/
.svg-chart-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}

.win-loss-svg-chart {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.chart-segment {
  fill: none;
  cursor: pointer;
  stroke-linecap: butt;
  stroke-width: 10;

  transition: stroke-dasharray 0.6s ease, stroke-dashoffset 0.6s ease,
    stroke-width 0.6s ease, opacity 0.6s ease;
  animation-name: render;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  transition-property: all;
  transition-duration: 0.6s;
}

.chart-segment:hover,
.hovered {
  opacity: 0.8;
  stroke-width: 12;
}

.win-segment {
  stroke: var(--color-green-element);
}

.loss-segment {
  stroke: var(--color-red-element);
}

.svg-chart-wrapper.no-data .win-loss-svg-chart {
  display: none;
}

.svg-chart-wrapper.no-data::after {
  content: "You haven't played yet";
  position: absolute;
  top: 31%;
  left: 0;
  font-size: 14px;
  color: var(--color-white-80);
}

/*LAST MAP*/
.last-map-section {
  padding-top: 5px;
}

.last-map-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.last-map-title p {
  font-weight: 600;
}

.table-container {
  overflow-x: auto;
}

#last-map-table {
  font-size: 12px;
  width: 100%;
  border: 1px solid var(--color-white-80);
  border-radius: 5px;

  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

#last-map-table th {
  background-color: var(--container-overlay-dark);
}

#last-map-table th,
#last-map-table td {
  border-right: 1px solid var(--color-white-80);
  border-bottom: 1px solid var(--color-white-80);
  padding: 6px 8px;
  text-align: center;
}

#last-map-table th:last-child,
#last-map-table td:last-child {
  border-right: none;
}

#last-map-table th:not(thead th):last-child,
#last-map-table tr:last-child td {
  border-bottom: none;
}

#last-map-table col:nth-child(1) {
  width: 50%;
}
#last-map-table col:nth-child(2) {
  width: 30%;
}
#last-map-table col:nth-child(3) {
  width: 20%;
}

/**FOOTER**/

footer {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 25px;
}

footer a {
  display: inline-block;
  font-family: var(--font-family);
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  background: linear-gradient(
    var(--dark-green-default),
    var(--lite-green-active)
  );
  background-color: var(--dark-green-default);
  box-shadow: var(--shadow-glow-light) 0px 4px 16px,
    var(--shadow-glow-light) 0px 8px 32px;
  border-radius: 20px;
  transition: 0.3s ease;
}

footer a:hover {
  transform: scale(1.05);
  background: linear-gradient(
    var(--lite-green-active),
    var(--dark-green-default)
  );
  color: var(--dark-green-button);
}

.no-data {
  max-width: 250px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.no-data-text {
  font-size: 18px;
  font-weight: 600;
  color: white;
  line-height: 1.4;
}

.no-data-span {
  font-family: var(--font-family);
  font-weight: 400;
}

.jumpy-text span {
  display: inline-block;
  position: relative;
  animation-name: jump;
  animation-duration: 0.6s;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.jumpy-text span:nth-child(1) {
  animation-delay: 0s;
}
.jumpy-text span:nth-child(2) {
  animation-delay: 0.05s;
}
.jumpy-text span:nth-child(3) {
  animation-delay: 0.1s;
}
.jumpy-text span:nth-child(4) {
  animation-delay: 0.15s;
}
.jumpy-text span:nth-child(5) {
  animation-delay: 0.2s;
}
.jumpy-text span:nth-child(6) {
  animation-delay: 0.25s;
}
.jumpy-text span:nth-child(7) {
  animation-delay: 0.3s;
}
.jumpy-text span:nth-child(8) {
  animation-delay: 0.35s;
}
.jumpy-text span:nth-child(9) {
  animation-delay: 0.4s;
}
.jumpy-text span:nth-child(10) {
  animation-delay: 0.45s;
}
.jumpy-text span:nth-child(11) {
  animation-delay: 0.5s;
}
.jumpy-text span:nth-child(12) {
  animation-delay: 0.55s;
}
.jumpy-text span:nth-child(13) {
  animation-delay: 0.6s;
}
.jumpy-text span:nth-child(14) {
  animation-delay: 0.65s;
}
.jumpy-text span:nth-child(15) {
  animation-delay: 0.7s;
}
.jumpy-text span:nth-child(16) {
  animation-delay: 0.75s;
}
.jumpy-text span:nth-child(17) {
  animation-delay: 0.8s;
}
.jumpy-text span:nth-child(18) {
  animation-delay: 0.85s;
}
.jumpy-text span:nth-child(19) {
  animation-delay: 0.9s;
}

.jumpy-text span {
  display: inline-block;
  position: relative;
  animation-name: jump-with-pause;
  animation-duration: 7.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
